a {
  color: white !important;
}

.navbar {
  .menu {
    background-color: #95C11F;

    ul {
      :hover {
        background-color: #C48F27;
      }
    }
  }

  .navbar-nav {
    .nav-item {
      a {
        color: #fff;
      }

      ul {
        background-color: #95C11F;
        border: none;
        font-size: 16px;
        :hover {
          background-color: #C48F27;
        }
      }
    }
  }
}

nav {
  background-color: #C51A1B; 
}

.navbar-brand {
    color: #fff;
    font-size: 16px;

  i{
    color: #fff;
    font-size: 20px;
  }
}

.navbar-toggler {
  color: #fff;
  font-size: 20px;
}