#noticais {
  .card {
    // border: 1px solid rgba(0, 0, 0, 0.418);

  .card-title a {
    font-size: 20px;
    }

  }

  .read-more {
    color: #000 !important;
    text-decoration: underline ;
    font-weight: bold ;
  }
}
